{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="col">
            <h3>Bug Queue</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="addBug" class="btn btn-primary">Create New Bug</a>
            <a href="queue" class="btn btn-secondary">Refresh Queue</a>
        </div>
        <div class="col text-right">
            <form name=selectUser method=POST class="form-inline">
                <!-- <input type=text size=30 name=other_username value="{{ other_username }}"> -->

                <select name="other_user_id" class="form-control">
                    <option value = "all"> All </option>
                    {% for i in users %}
                        {% if i.username == session['username'] %}
                            <option value="{{ i.id }}" selected='selected' >{{ i.username }} ({{ i.email }})</option>
                        {% else %}
                            <option value="{{ i.id }}" >{{i.username }} ({{ i.email }})</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type=submit value="See Queue" class="btn btn-success">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Bug queue for {{ queue_user }} </h4>
            <table class="table">
                <tr>
                    <th>Customer</th>
                    <th> Title </th>
                    <th> Priority </th>
                    <th> Status </th>
                </tr>
                {% for d in bugs %}
                    <tr>
                        <td>{{ d['customer'] }} </td>
                        <td><a href="{{url_for('bug')}}?bug_id={{ d.id }}"> {{ d['title'] }}</a></td>
                        <td>{{ d['priority'] }}</td>
                        <td>{{ d['status'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
