{% extends "layout.html" %}
{% block body %}
<h3>Register with your Email here</h3>
<form action="" name="registerform" method="POST">
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" value="" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" value="" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type=submit></td>
        </tr>
    </table>
</form>
{% endblock %}
