
.footer {
    margin: 0 auto;
    padding: 0 10px;
    line-height: 30px;
    border-bottom-width: 0;
    background-color: #FBFBFB;
    overflow: hidden;
    opacity: 0.7;
    color: #000;
    font-size: 95%;
}

#footer a {
    font-size: inherit;
}
